/* 全体のスタイリング */
*, *:before, *:after {
  box-sizing: border-box;
}
body, h1, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo, sans-serif;
  color: #666;
}
a {
  color: inherit;
  text-decoration: none;
}

main{/* headerの幅の確保のため */
  /* position: relative; 
  padding-top: 144px; */
}  

/**** HOME ********************/
  /* mainコンテナのスタイリング */
.main-container {
  background-image: url('../img/main-visual.png'); /* 実際の画像パスに置き換えてください */
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 457px;
  color: #2BDC8E;
}

.main-container h1 {
  font-size: 53px; /* タイトルのフォントサイズ */
  font-family: "小塚ゴシック Pr6N", "Kozuka Gothic Pr6N", Arial, sans-serif;
  font-weight: bold;
  color: #2BDC8E;
  margin: 50.8px 0 228px;
}

.sabu-title{
  background-color: rgb(251, 251, 251, 0.82);
  width: 408px;
  margin: 0 auto;
  text-align: left;
  padding: 15px 10px;
}

.main-container h2 {
  font-size: 24px; /* サブタイトルのフォントサイズ */
  font-weight: bold;
  margin-bottom: 5px;
}

.main-container p {
  font-size: 19px; /* テキストのフォントサイズ */
  line-height: 1.45; /* 行の高さ */
}



/* レスポンシブ対応 PC画面対応*/
@media (min-width: 769px) {

  .main-nav {
    width: 100%;
  }

}

  